<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="/static/estilos.css">
    
</head>
<body>
    <table class="tabla-responsive">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Nacimiento</th>
                <th>Estatura</th>
                <th>Peso</th>
                <th>Tipo de Sangre</th>
            </tr>
        </thead>
        <tbody>
            {% for pac in res %}
            <tr>
                <td>{{pac[0]}}</td>
                <td>{{pac[1]}}</td>
                <td>{{pac[2]}}</td>
                <td>{{pac[3]}}</td>
                <td>{{pac[4]}}</td>
                <td>{{pac[5]}}</td>
                <td>
                    <a href="">Modificar</a>
                </td>
                <td>
                    <a onclick="return confirm('¿Seguro elimina este empleado?')" 
                    href="">Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>